<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Animal Shelter</title>
    </head>
    <body>
        <div class="container">
            <h1>Welcome to Animal Shelter</h1>
            <p><em>Let's end petlessness!</em></p>

          <ul>
              {% for type in types %}
                  <li><a href="/types/{{ type.getId }}">{{ type.getName }}</a></li>
              {% endfor %}
          </ul>

        </div>
    </body>
</html>
